main{
    min-height: calc(100vh - 120px);
    margin-top: 120px;
}
h1{
    font-weight: semi-bold;
}
.conj-grid{
    display: grid;
    grid-template-columns: 1.125fr 0.75fr 1.125fr;
    padding: 20px;
}
.item-grid1{
    padding-left: 150px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    min-width: 400px;
}
.item-grid2{
    padding-left: 40px;
    padding-top: 50px;
    border-left: 2px ridge black;
    border-right: 2px ridge black;
    border-radius: 2px;
    min-width: 400px;
}
.item-grid3{
    padding-left: 80px;
    padding-top: 50px;
    min-width: 400px;
}
.texto-da-pag{
    padding-bottom: 60px;
}
.texto-da-pag2{
    padding-bottom: 0;
}
.input--da-pag{
    padding-bottom: 130px;
}
form{
    width: 100%;
    max-width: 350px;
    padding: 2%;
}
.botao-destaque{
    border: 2px solid #a0a0a0;
}
.texto-botao-destaque{
    padding: 3px;
}
.texto-marcar-destaque{
    margin-top: 10px;
}


.single-input{
    position: relative;
    margin: 30px 0;
}
.single-input label{
    position: absolute;
    bottom: 5px;
    left: 0;
    color: rgb(150,150,150);
    cursor: text;
    transition: 0.5s ease-in-out;
}

.input{
    width: 100%;
    padding: 5px;
    border: 0;
    border-bottom: 2px solid rgb(200,200,200);
    outline: 0;
    font-size: 16px;
    color: rgb(80,80,80);
    transition: 0.5s ease-in-out;
}

.input:focus,
.input:valid{
    border-bottom: 2px solid black;
}
.input:focus ~ label,
.input:valid ~ label{
    transform: translateY(-24px);
    font-size: 12px;
    color: black;
}
.preview-do-item{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 25px;
    width: 200px;
    height: 250px;
    /*border: 2px solid black;*/
    border-radius: 20px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75)
}
.button-de-add-produto{
    background-color: #FFBE9A;
    width: 200px;
    height: 60px;
    border-radius: 20px;
    border: 4px outset #fdb77d;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 150px;
    padding-top: 10px;
}
.button-de-add-produto h5{
    font-size: x-large;
    font-weight: 600;
}
.button-de-add-produto:hover{
    background-color: #fca35b;
    transition: 0.2s;
}
.button-cancelar{
    color: #FF0000;
    font-size: x-large;
    font-weight:600;
    margin-left: 70px;
    width: 125px;
    padding: 5px;
    border-radius: 20px;
}
.button-cancelar:hover{
    text-decoration: underline;
    cursor: pointer;
    transition: 0.2s;
}
.preview-do-item{
    padding: 15px;
    align-items: center;
}
.div-preco-preview{
    display: flex;
}
.preview-preco{
    padding-left: 3px;
}
.preview-qtd{
    padding-left: 3px;
}
.preview-img{
    margin-bottom: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75)
}
.div-text-preview{
    padding-left: 20px;
}