main {
  height: calc(100vh - 120px);
  margin-top: 120px;
  padding-left: 152px;
  padding-top: 30px;
}
.input {
  width: 272px;
  height: 50px;
  border: 2px solid rgb(200, 200, 200);
  outline: 0;
  font-size: 16px;
  color: rgb(80, 80, 80);
  transition: 0.5s ease-in-out;
  border-radius: 20px;
  padding: 13px 20px;
}
.hero {
  padding: 50px 10px 50px 30px;
}

.box-gerenciar {
  display: grid;
  grid-template-columns: 1fr 0.75fr 0.75fr;
  grid-template-rows: 1fr 1fr;
  -webkit-box-shadow: 3px 3px 29px 1px rgba(0, 0, 0, 0.82);
  -moz-box-shadow: 3px 3px 29px 1px rgba(0, 0, 0, 0.82);
  box-shadow: 3px 3px 29px 1px rgba(0, 0, 0, 0.82);
  padding: 20px;
  border-radius: 20px;
  width: 1500px;
  height: 750px;
}
.alterar-img {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  padding: 10px;
}
.alterar-nome {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  border-left: 2px ridge black;
  border-right: 2px ridge black;
  border-bottom: 2px ridge black;
  padding: 10px;
  padding-left: 20px;
}
.alterar-quantidade {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  border-left: 2px ridge black;
  border-right: 2px ridge black;
  padding: 10px;
  padding-left: 20px;
}
.alterar-preco {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  padding: 10px;
  padding-left: 20px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.button-de-finalizar {
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: #ffbe9a;
  width: 200px;
  height: 60px;
  border-radius: 20px;
  border: 4px outset #fdb77d;
  margin-left: 20px;
  margin-top: 170px;
  margin-bottom: 150px;
  padding-top: 10px;
}
.button-de-finalizar h5 {
  font-size: x-large;
  font-weight: 600;
}
.button-de-finalizar:hover {
  background-color: #fca35b;
  transition: 0.2s;
}
.button-deletar {
  color: #ff0000;
  font-size: 22px;
  font-weight: 600;
  margin-left: 70px;
  width: 148px;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  text-align: center;
  align-items: center;
}
.button-deletar:hover {
  text-decoration: underline;
  cursor: pointer;
  transition: 0.2s;
}
.img-antiga {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.img-antiga {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.img-alterar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.alterar-box {
  padding-left: 30px;
}
.nome-card-produtos h6 {
  margin-bottom: 20px;
  margin-top: 30px;
}
.preview-nome {
  font-size: large;
  font-weight: 600;
}
.qtd-card-produtos h6 {
  margin-bottom: 20px;
  margin-top: 30px;
}
.preview-nome {
  font-size: large;
  font-weight: 600;
}
.preco-card-produtos h6 {
  margin-bottom: 20px;
  margin-top: 30px;
}
.preview-nome {
  font-size: large;
  font-weight: 600;
}
.old {
  display: flex;
  flex-direction: row;
}
.old-qtd {
  margin-left: 5px;
}
.old-preco {
  margin-left: 5px;
}
.img-atual-gerenciar {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  padding: 10px;
  margin-left: 30px;
  margin-right: 10px;
}
