@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color: #FFBE9A;
    --secondary-color: #6c757d;
    --primary-button: #FFBE9A;    
    --secondary-button: #FF6B00;
    --red: #FF0000
    --white: #FFF
    --font-family: 'Roboto', sans-serif;
    --font-size-base: 16px;
}


.navbar, #offcanvasNavbar {
    background: var(--primary-color);
}

.main {
    max-width: 1440px;
    margin: 0 auto;
}

.header-container {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 0 35px;
}

.nav-flex {
    display: flex;
    align-items: center;
    gap: 0px 15px;
    margin: 4px 0;
}

.logo-sidebar {
    width: 68px;
    height: 68px;
}

.offcanvas {
    position: relative;
}

.sidebar-footer {
    position: absolute;
    bottom: 0;
    width: 90%;
    margin-bottom: 16px;

}

.logout-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 12px;
    background: #FF4343;
    padding: 12px;
    font-weight: 500;
    gap: 0 10px;
    transition: all 0.2s ease-in;
}

.logout-btn h6 {
    margin: 0;
    color: #FFF;
}

.logout-btn:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  opacity: 0.9;
}

.boxshadow-3D {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}