/*Caixa de Contato: */
.caixa-contato {
    position: relative; 
    background-color: orangered;
    border-radius: 10px; 
    padding: 35px; 
    margin: 200px auto;  
    width: 80%;
}

.box {
    max-width: 40%;
}

#tela {
    position: absolute; 
    top: 0; 
    right: 0;
    margin: 50px 70px;   
    max-width: 80%; 
}

